__pycache__/
venv/
.DS_Store
.idea/
ES-500500EU-500kW-500kWh-battery-energy-storage-system.pdf
kpwslogo.JPG
FETCH_HEAD
README.md
temp.py
Reporting/
project data/
data/hourly_data.csv
data/summary_output.csv
data/summary_output.clsx